@{
    ViewBag.Title = "Home Page";
}
@model Web.Models.RollDiceGameViewModel



<h1>Roll Dice Game</h1>

@using (Html.BeginForm("Play", "Home", FormMethod.Post))
{
    <h2>Test your luck!</h2>
    @Html.LabelFor(m => m.Chips)
    @Html.TextBoxFor(m => m.Chips)
    @Html.LabelFor(m => m.Score)
    @Html.TextBoxFor(m => m.Score)
    <input type="submit" class="btn btn-default" value="Play" />
}
